@{
    ViewBag.Title = "Home Page";
}

@section head{
    <style type="text/css">
        .jumbotron {
            background-image: url('../../Content/Images/LMS2.jpg');
            background-size: cover;
            background-size: 100% 100%;
        }
    </style>
}
<div class="jumbotron">
    
    <h2>LIBRARY MANAGEMENT SYSTEM</h2>
    <div></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p class="card-text">
            Library management system project website used to maintain all activities of library system 
            such as maintain books stock, issue book records, return book records  and 
            also keep data of penalty for late return books.
        </p>
       
    </div>
    
</div>